<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://yangjian.me" target="_blank" title="YangJian">Alimon's Blog</a></li>
      <li><a href="http://morris821028.github.io/" target="_blank" title="Hexo">Morris' Blog</a></li>
    </ul>
</div>
